@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

* {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}
.main-header {
  background-color: #f6efe8;
  padding: 0 15px 0 15px;
}
.navBar {
  display: flex;
  flex-direction: row;
  background-color: #f6efe8;
}
.topNav {
  display: flex;
  justify-content: start;
  padding: 10px;
  max-height: 28px;
  width: 100%;
}

.conectProb {
  display: none;

}

.navGrand {
  display: none;
}

.linksNav > div {
  padding: 0 10% 0 10%;
}

.linksNav > :nth-child(2) {
  padding: 0 20% 0 20%;
} 

.linksNav > div > a {
  text-decoration: none;
  color: black;
}

.conect {
  text-decoration: none;
  color: black;
}

.linksNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;


}

.burguer {
  display: flex;
  justify-content: end;
  width: 100%;
}

.burguer > img {
  max-width: 30px;
  padding: 5px;
  margin-right: 10px;
}
.topNav > img {
  max-width: 100px;
}

.bossHead {
  display: flex;
  flex-direction: column;
}

.footer-head {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slackFirst {
  font-size: 300%;
}

.sedeDig {
  max-width: 95%;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 10px;
}

.imgTeam {
  margin: auto;
  max-width: 95%;
  
}

.imgTeam > img {
  max-width: 80%;
}

.botonAndr {
  background-color: #611f69;
  color: white;
  /*    font-size: 100%; */
  border-radius: 5px;
  border-width: 0;
  padding: 20px 24px 20px 24px;
  margin: 5px;
  max-width: 90%;
}

.topNav > img {
  max-width: 100px;
}
.main-footer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  justify-content: space-around;
  list-style: none;
}

.sponsors {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}

.sponsors > div {
  max-width: 170px;
  margin: 10px;
  text-align: center;

}

/* ------------   Tomas  ↓ -------------------*/

.main-main {
  display: flex;
  flex-direction: column;
}

.title-main {
  
    padding: 0 15px 0 15px;
    margin: 15px 0 15px 0;
}

.text-main{
  padding: 0 15px 0 15px;
  margin: 15px 0 15px 0;
}
.bottom-main{
  display: flex;
  flex-direction: column;
}

.mid-main {
  padding: 0 15px 0 15px;
  margin: 15px 0 15px 0;
  font-size: 19px;
}

.link-video{
  max-width: 440px;
  padding: 0 15px 0 15px;
}

.image-yt {
  max-width: 100%;
  max-height: 100%;
}

.video-main{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  /* flex-wrap: wrap; */
}

.text-video {
  display: flex;
  flex-direction: row;
  max-width: 100%;

}

.description-video {
  display: flex;
  justify-content: start;
  /* padding: 0 15px 0 15px; */
}
.time-video{
  display: flex;
  justify-content: end;
}

/* ------------------ Ruben  ↓ ----------------- */
.footer-logo {
  max-width: 20%;
}
.footer-logo > img {
  max-width: 75px;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.one > li,
.two > li,
.three > li,
.four > li,
.five > li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 15px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
}

@media (min-width: 765px) {
  .footer-head {
    margin: 20px;
    flex-direction: row;
    justify-content: space-around;
  }
  .sedeDig {
    max-width: 45%;
  }
  .imgTeam {
    max-width: 45%;
  }
  .sponsors {
    max-width: 100%;
  }
}

@media (min-width: 1085px) {
  .navGrand {
    display: block;
  }
  .burguer {
    display: none;
  }
  .conectProb {
    display: flex;
    flex-direction: row;
  }
}
