@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

* {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}
.main-header {
  background-color: #f6efe8;
  padding: 0 15px 0 15px;
}
.navBar {
  display: flex;
  flex-direction: row;
  background-color: #f6efe8;
}
.topNav {
  display: flex;
  justify-content: start;
  padding: 10px;
  max-height: 28px;
  width: 100%;
}

.navGrand {
  display: none;
}

.linksNav > div {
  padding: 0 10% 0 10%;
}

.linksNav > :nth-child(2) {
  padding: 0 20% 0 20%;
} 

.linksNav > div > a {
  text-decoration: none;
  color: black;
}

.linksNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.conectProb {
  display: none;

}

.conect {
  text-decoration: none;
  color: black;
}

.botonFirst {
  background-color: #611f69;
  color: white;
  border-radius: 5px;
  border-width: 0;
  padding: 20px 60px 20px 60px;
  margin: 5px;
  max-width: 200px;
}

.burguer {
  display: flex;
  justify-content: end;
  width: 100%;
}

.burguer > img {
  max-width: 30px;
  padding: 5px;
  margin-right: 10px;
}
.topNav > img {
  max-width: 100px;
}

.bossHead {
  display: flex;
  flex-direction: column;
}

.footer-head {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slackFirst {
  font-size: 300%;
}

.sedeDig {
  max-width: 95%;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 10px;
}

.imgTeam {
  margin: auto;
  max-width: 95%;
  
}

.imgTeam > img {
  max-width: 80%;
}

.botonAndr {
  background-color: #611f69;
  color: white;
  /*    font-size: 100%; */
  border-radius: 5px;
  border-width: 0;
  padding: 20px 24px 20px 24px;
  margin: 5px;
  max-width: 90%;
}

.topNav > img {
  max-width: 100px;
}
.main-footer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  justify-content: space-around;
  list-style: none;
}

.sponsors {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}

.sponsors > div {
  max-width: 170px;
  margin: 10px;
  text-align: center;

}

/* ------------   Tomas  ↓ -------------------*/

.main-main {
  display: flex;
  flex-direction: column;
}

.title-main {
  
    padding: 0 15px 0 15px;
    margin: 15px 0 15px 0;
}

.text-main{
  padding: 0 15px 0 15px;
  margin: 15px 0 15px 0;
}
.bottom-main{
  display: flex;
  flex-direction: column;
}

.mid-main {
  padding: 0 15px 0 15px;
  margin: 15px 0 15px 0;
  font-size: 19px;
}

.link-video{
  max-width: 440px;
  padding: 0 15px 0 15px;
}

.image-yt {
  max-width: 100%;
  max-height: 100%;
}

.video-main{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  /* flex-wrap: wrap; */
}

.text-video {
  display: flex;
  flex-direction: row;
  max-width: 100%;

}

.description-video {
  display: flex;
  justify-content: start;
  /* padding: 0 15px 0 15px; */
}
.time-video{
  display: flex;
  justify-content: end;
}

/* ------------------ Ricardo ↓ ---------------- */

.first-steps{
  background-color: #F6EFE8;
  width: 100%;
  display: flex;
}
.first-steps-header{
  text-align: center;
}
.box-number{
  font-size: 1.5rem;
  color:#fff;
  border: none;
  border-radius: 4px;
  background-color: #400d40;
  width: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.blocks-steps{
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-around;
}
.first-text-block{
  max-width: 180px;
  padding: 30px;

}
.title-first-block{
  margin-bottom: 20px;
}
.second-text-block{
  max-width: 180px;
  padding: 30px;
}
.title-second-block{
  margin-bottom: 20px;
}
.third-text-block{
  max-width: 180px;
  padding: 30px;
}
.title-third-block{
  margin-bottom: 20px;
}

/* ------------------ Raul 2º  ↓ ----------------- */

.welcomeToW {
  background-color: #400d40;
  clip-path: ellipse(75% 100% at center top);
}

.futuro {
  font-size: 34px;
  text-align: center;
  padding: 10% 0 4% 15px;
  color: white;
}

.botonL {
  max-width: 90%;
  justify-content: center;
  margin: auto;
}

.botonesMorado{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
/*   margin: auto; */
  justify-content: center;
  padding-bottom: 8%;
}

.pruebaG {
  background-color: white;
  color: #400d40;
  border: 2px;
  border: white;
  border-radius: 5px;
  padding: 22px 50px 22px 50px;
  margin: 5px;
}

.ventas {
  background-color: #400d40;
  color: white;
  border-color: white;
  border-radius: 5px;
  border-width: 2px;
  padding: 20px 24px 20px 24px;
  margin: 5px;
}

/* ------------------ Ruben  ↓ ----------------- */

.main-fcontainer {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.f-logo {
  max-width: 20%;
  margin-bottom: 20px;
}
.f-logo > img {
  max-width: 75px;
}

.f-text {
  display: flex;
  flex-direction: column;
}

.list-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-around;
  align-items:flex-start;
}

.list-bottom {              /* no usado */
  display: flex;
  flex-direction: row;
}

.negrita{
  font-weight: bold;
}
.one > li,
.two > li,
.three > li,
.four > li,
.five > li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.footer-bottom {          
  display: flex;
  flex-direction: row;
}

@media (min-width: 765px) {
  .footer-head {
    margin: 20px;
    flex-direction: row;
    justify-content: space-around;
  }
  .sedeDig {
    max-width: 45%;
  }
  .imgTeam {
    max-width: 45%;
  }
  .sponsors {
    max-width: 100%;
  }
  .botonL {
    max-width: 40%;
    margin: 0;
    justify-content: center;
  }
  .botonesMorado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding-bottom: 8%;
  }

}

@media (min-width: 1025) {
}


@media (min-width: 1085px) {
  .navBar{
    max-width: 20%;
  }
  .navGrand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
 
  }
  .linksNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burguer {
    display: none;
  }
  .conectProb {
    display: none; /* No consigo que funcione */
    max-width: 80%;
    align-items: center;
 /*    padding-left: 116%; */
    justify-content: space-evenly;
  }
}
